html {
  font-size: 16px;
  min-height: 100vh;
  min-width: 100vw;
}
body {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100% !important;
  width: 100% !important;
}

div, main, section, article {
  height:100%;
  width: 100%;
}